body{
    /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/ad/Rectorado_%28University_Headquarters%29_of_Universidad_de_La_Rioja_in_Logro%C3%B1o.jpg);*/
    /*background-color: gray;*/
    background-image: url("/login01/cucei.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(6px);
}

.cont-regi{
    width: 500px;
    height: 700px;
    margin-left: 35%;
    background-color: rgb(243, 227, 6);
    border-radius: 30px 30px;
    position: fixed;
}

.cont-regi-max{
    width: 655px;
    height: 700px;
    margin-left: 35%;
    background-color: rgb(243, 227, 6);
    border-radius: 30px 30px;
    position: fixed;
}

.cont-neg{
    width: auto;
    height: 520px;
    margin-top: 180px;
    background-color: black;
    border-radius: 30px 30px;
    box-shadow: 5px 5px 24px black;
    position: fixed;
}

.regi{
    width: 60%;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 37px;
    margin-left: 90px;
    color: #ffffff;
}

.cent-btn{
    margin-left: 180px;
}

.logo-cent{
    width: 120px;
    height: 120px;
    position: fixed;
    margin-left: 190px;
    margin-top: 40px;
}

.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: left;
    position: fixed;
    margin-top: 30px;
    margin-left: 60px;
    color: black;
    text-shadow: #555555 2px 1px;
}

.form-regi{
    width: 36rem;
    height: auto;
    margin-right: 80px;
}