
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }

body{
  background-image: url("/login01/cucei.jfif");
  /*background-color: gray;*/
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/ad/Rectorado_%28University_Headquarters%29_of_Universidad_de_La_Rioja_in_Logro%C3%B1o.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(6px);
}


#log-div{
    margin-top: 200px ;
    margin-left: 350px;
    height: 600px;
    width: 600px;
}

#log-hori{
    background-color: #c70039;
    width: 700px;
    height: 300px;
    position: fixed;
    text-align: right;
    border-radius: 20px;
}

#log-vert{
    margin-top: -300px;
    margin-left: 60px;
    position: fixed;
    background-color: #ff5733;
    box-shadow: 5px 5px 8px rgb(32, 32, 32);
    width: 250px;
    height: 500px;
    border-radius: 20px;
}

.log-logo{
    width: 90px;
    height: 90px;
    margin-top: 20px;
    margin-right: 50px;
}

#log-reg{
    margin-right: 150px;
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(214, 211, 211);
}

#reg-inf{
  color: #f1f1f1;
    margin-top: -10px;
    margin-left: 350px;
    text-align: justify;
}

#log-log{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: left;
    margin-top: 50px;
    margin-left: 45px;
}

.code{
    width: 70%;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 37px;
    margin-left: 20px;
}

.input{
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #ffffff;
    line-height: 1.2;
    border-color:  transparent;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}

.btn-log{
    width: 200px;
    height: 30px;
    margin-right: 20px;
    margin-top: 90px;
    color: #f1f1f1;
    background-color: #691c5db5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    box-shadow: #300b47 3px 3px 3px;
    border-color: transparent;
    border-radius: 10px 10px;
}
.btn-log:hover, .btn-log:focus {
  color: #2ae8c8;
  transform: translateY(-6px);
}

btn-log:hover::before, btn-log:focus::before {
  opacity: 1;
}


btn-log:hover::after, btn-log:focus::after {
  animation: none;
  display: none;
}
.wrap {
    width: 150px;
    height: 60px;
    position: fixed;
    margin-left: 500px;
  }
  
  .button {
    min-width: 100px;
    min-height: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #c1c1c1;
    /* background: #321754; */
    
    background: #691c5db5; 
    border: none;
    border-radius: 1000px;
    box-shadow: 5px 5px 24px #bbb1b9;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }  
  .button:hover, .button:focus {
    color: #2ae8c8;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  